{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Invite user" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/users/"
  }) }}
{% endblock %}

{% block primary %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form novalidate method="post">
        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          id: "email-address",
          name: "email-address",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "First name",
            classes: "govuk-label--m"
          },
          id: "first-name",
          name: "first-name",
          type: "text",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Last name",
            classes: "govuk-label--m"
          },
          id: "last-name",
          name: "last-name",
          type: "text",
          attributes: {
            spellcheck: "false"
          }
        }) }}


        {% set org1PermissionsHtml %}
          {{ govukCheckboxes({
            idPrefix: "p1",
            name: "permissions",
            fieldset: {
              legend: {
                text: "",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Make recommendations",
                text: "Make recommendations"
              },
              {
                value: "See criminal convictions",
                text: "See criminal convictions"
              }
            ]
          }) }}
        {% endset %}

        {% set org2PermissionsHtml %}
          {{ govukCheckboxes({
            idPrefix: "org2",
            name: "permissions",
            fieldset: {
              legend: {
                text: "",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Make decisions",
                text: "Make decisions"
              },
              {
                value: "Make recommendations",
                text: "Make recommendations"
              },
              {
                value: "See criminal convictions",
                text: "See criminal convictions"
              }
            ]
          }) }}
        {% endset %}

        {% set org3PermissionsHtml %}
          {{ govukCheckboxes({
            idPrefix: "org3",
            name: "permissions",
            fieldset: {
              legend: {
                text: "",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Make decisions",
                text: "Make decisions"
              },
              {
                value: "Make recommendations",
                text: "Make recommendations"
              },
              {
                value: "See criminal convictions",
                text: "See criminal convictions"
              }
            ]
          }) }}
        {% endset %}

        {% set p1PermissionsHtml %}
          {{ govukCheckboxes({
            idPrefix: "p1",
            name: "organisations",
            fieldset: {
              legend: {
                text: "",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Courses that we ratify ourselves",
                text: "Courses that we ratify ourselves",
                conditional: {
                  html: org3PermissionsHtml
                }
              },
              {
                value: "Courses that St Mary’s University ratify",
                text: "Courses that St Mary’s University ratify",
                conditional: {
                  html: org1PermissionsHtml
                }
              },
              {
                value: "Courses that King’s College ratify",
                text: "Courses that King’s College ratify",
                conditional: {
                  html: org2PermissionsHtml
                }
              }
            ]
          }) }}



        {% endset %}

        {% set p2PermissionsHtml %}
          {{ govukCheckboxes({
            idPrefix: "p2",
            name: "permissions",
            fieldset: {
              legend: {
                text: "Choose permissions",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Manage users",
                text: "Manage users",
                hint: {
                  text: "Invite and delete users"
                }
              },
              {
                value: "Make decisions",
                text: "Make decisions",
                hint: {
                  text: "Make and change offers"
                }
              }
            ]
          }) }}
        {% endset %}

        {{ govukCheckboxes({
          idPrefix: "provider",
          name: "provider",
          fieldset: {
            legend: {
              text: "Permissions",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Catholic Teaching School Alliance",
              text: "Catholic Teaching School Alliance",
              conditional: {
                html: p1PermissionsHtml
              }
            },
            {
              value: "The Beach Teaching School",
              text: "The Beach Teaching School",
              conditional: {
                html: p2PermissionsHtml
              }
            }
          ]
        }) }}

        {{govukButton({
          text: "Invite user"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
